timeout=3

insmod all_video
insmod gfxterm

set gfxmode="auto"
set gfxpayload=keep
set lang=ru

terminal_output gfxterm

font "/boot/grub/fonts/unicode.pf2"
loadfont unicode

menuentry 'KISS Linux 5.10.27_1' {
	linux /boot/vmlinuz-5.10.27_1 root=/dev/sda2 quiet
}
